In [1]:
print("Hello World")

Hello World

In [2]:
x = 2
y = 3

In [5]:
mynums = [1, 2, 3, 4, 5]
mynums

[1, 2, 3, 4, 5]

In [10]:
import pandas as pd

In [11]:
pd.DataFrame(mynums)

   0
0  1
1  2
2  3
3  4
4  5

In [12]:
mynums.sort(reverse=True)

In [13]:
mynums

[5, 4, 3, 2, 1]

In [14]:
import panda as pd

ModuleNotFoundError: No module named 'panda'

In [15]:
x = 1 + 1
y = 1-1
z = x/y

ZeroDivisionError: division by zero

In [16]:
%debug

> c:\users\user\appdata\local\temp\ipykernel_13980\4262870390.py(3)<module>()

ipdb> x
2
ipdb> y
0
ipdb> exit()